<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
        layout:decorate="~{Layout}" th:with="link=@{/cliente/home}"> <!-- Manda variavel pra pagina layout -->

<body>

<div layout:fragment="content">

    <div>
        <img class="imgRestauranteOpcao" th:src="@{/image/logotipo/} + ${restaurante.logotipo}">
        <br>
        <span class="restauranteOpcaoTitulo" th:text="${restaurante.nome}"></span>
        <br>
        <span th:text="${restaurante.getCategoriasAsText()}"></span>
        <br>
        <br>
        <span th:text="'Tempo médio de entrega: '+ ${restaurante.calcularTempoEntrega(cep)} + 'm'"></span>
        <br>
        <span th:text="'Taxa de entrega: R$ ' + ${restaurante.taxaEntrega}"></span>
        <br>
    </div>

    <div>
        <h1>Opções</h1>
        <fieldset>
            <legend>Filtros</legend>
            <input type="button" value="Promoções">
            <input type="button" value="Saladas">
            <input type="button" value="Bebidas">
        </fieldset>
        <br>
    </div>

    <div>
        <h1>Items</h1>
    </div>

    <div>
        <div th:each="itemCardapio : ${itemCardapios}">
            <img class="imgRestauranteOpcao" src="images/sys_comidaPizzaCalabresa.png" alt="">
            <br>
            <span th:text="itemCardapio.nome"></span>
            <br>
            <span th:text="itemCardapio.descricao"></span>
            <br>
            <span th:text="itemCardapio.preco"><b></b></span>
            <br>
            <br>

            <form action="" method="POST">
                <label for="quantidade">Quantidade:</label>
                <br>
                <select style="width: 60px; margin-top: 5px;" name="quantidade" id="quantidade">
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4</option>
                </select>
                <br><br>

                Observações:
                <br>

                <textarea name="" id="" cols="30" rows="3">

                </textarea>
                <br><br>

                <input type="button" value="Adicionar ao carrinho">

            </form>


        </div>


    </div>


    <input type="button" value="Voltar" onclick="goBack()">


</div>
</body>

</html>