<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
        lang="pt-br">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bf_estiloSistema.css}">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAVAFOOD</title>
</head>

<body>


        <div>
            <h1>Cadastro de Cliente</h1>

            <div id="sucesso">

            </div>

            <iframe name="votar" style="display:none;"></iframe>
            <form th:action="${editMode} ? @{/cliente/save} : @{/public/cliente/save}" method="POST" th:object="${cliente}">
                <fieldset>

                    <input type="hidden" id="id" name="id" th:field="*{id}">

                    <label for="nome">Nome: </label><br>
                    <input th:classappend="${#fields.hasErrors('nome')} ? 'inputError' : ''" type="text" id="nome" name="nome" placeholder="Nome..." th:field="*{nome}"><br>

                    <div th:if="${#fields.hasErrors('nome')}" class="mensagemDeErro">
                        <span class="spanError"></span>
                        <span th:errors="*{nome}" class="textError"></span>
                    </div>
                    <br th:if="${#fields.hasErrors('nome')}">

                    <label for="cpf">CPF: </label><br>
                    <input th:classappend="${#fields.hasErrors('cpf')} ? 'inputError' : ''" type="text"
                           id="cpf" name="cpf" placeholder="CPF..." th:field="*{cpf}"><br>

                    <div th:if="${#fields.hasErrors('cpf')}" class="mensagemDeErro">
                        <span class=""></span>
                        <span th:errors="*{cpf}" class=""></span>
                    </div>
                    <br th:if="${#fields.hasErrors('cpf')}">

                    <label for="email">E-mail: </label><br>
                    <input th:classappend="${#fields.hasErrors('email')} ? 'inputError' : ''"
                           type="text" id="email" name="email" placeholder="E-mail..." th:field="*{email}"><br>

                    <div th:if="${#fields.hasErrors('email')}" class="mensagemDeErro">
                        <span class="spanError"></span>
                        <span th:errors="*{email}" class="textError"></span>
                    </div>
                    <br th:if="${#fields.hasErrors('email')}">

                    <label for="telefone">Telefone: </label><br>
                    <input th:classappend="${#fields.hasErrors('telefone')} ? 'inputError' : ''"
                           type="text" id="telefone" name="telefone"
                           placeholder="Telefone..." th:field="*{telefone}"><br>

                    <div th:if="${#fields.hasErrors('telefone')}" class="mensagemDeErro">
                        <span class="spanError"></span>
                        <span th:errors="*{telefone}" class="textError"></span>
                    </div>
                    <br th:if="${#fields.hasErrors('telefone')}">

                    <label for="cep">CEP: </label><br>
                    <input th:classappend="${#fields.hasErrors('cep')} ? 'inputError' : ''"
                           type="text" id="cep" name="cep" placeholder="CEP..." th:field="*{cep}"><br>

                    <div th:if="${#fields.hasErrors('cep')}" class="mensagemDeErro">
                        <span class="spanError"></span>
                        <span th:errors="*{cep}" class="textError"></span>
                    </div>
                    <br th:if="${#fields.hasErrors('cep')}">

                    <div th:if="${!editMode}">
                        <label for="senha">Senha: </label><br>
                        <input th:classappend="${#fields.hasErrors('senha')} ? 'inputError' : ''"
                               type="password" id="senha" name="senha" placeholder="Senha..." th:field="*{senha}"><br>
                    </div>

                    <div th:if="${#fields.hasErrors('senha')}" class="mensagemDeErro">
                        <span class="spanError"></span>
                        <span th:errors="*{senha}" class="textError"></span>
                    </div>
                    <br th:if="${#fields.hasErrors('senha')}">

                    <input type="hidden" name="senha" value="#" th:if="${editMode}">

                    <input type="submit" th:value="${editMode} ? 'Alterar' : 'Cadastrar'">
                </fieldset>
            </form>
            <br>



            <input type="button" value="Voltar" th:onclick="${editMode} ? ('location.href=\'' + @{home} + '\';') : 'location.href=\'' + @{/} + '\';'">
        </div>

        <script>

            const urlSearchParams = new URLSearchParams(window.location.search);
            const params = Object.fromEntries(urlSearchParams.entries());

            var isTrueSet = (params.cadastroCliente === 'true');

            if(isTrueSet){

                document.getElementById('sucesso').insertAdjacentHTML(
                    'afterbegin',
                    `<div class="mensagemDeSucesso"">
\t\t\t\t<span class="spanSucesso"></span>
\t\t\t\t<span class="textSucesso">Usuário gravado com sucesso</span>
\t\t\t</div><br>`


                )

            }
        </script>


</body>

</html>