<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | DataTables</title>


    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <link rel="stylesheet" th:href="@{/prototipo/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/prototipo/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/prototipo/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/prototipo/plugins/datatables-buttons/css/buttons.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/prototipo/dist/css/adminlte.min.css}">
</head>
<body class="hold-transition sidebar-mini">

<!-- Main content -->
<section class="content" style="margin: 10px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title col-sm-8">Todos os items do cardápio</h3>
                        <form th:action="@{/restaurante/items/list/desativados}" method="GET" >
                            <button  type="submit" class="btn btn-block btn-danger col-sm-4">Items Desativados</button>
                        </form>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <button style="margin-top: 5px; margin-bottom: 10px;margin-left: auto; margin-right: auto; width: 160px;" onclick="atualizar()" type="button" class="btn btn-block btn-primary">Atualizar Tabela <i style="margin-left: 6px" class="fas fa-sync-alt"></i></button>
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Categoria</th>
                                <th>Descrição</th>
                                <th>Preço</th>
                                <th>Opções</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${itemsCardapio}">
                                <td th:text="${item.getNome()}"></td>
                                <td th:text="${item.getCategoria()}"></td>
                                <td th:text="${item.getDescricao()}"></td>
                                <td th:text="${'R$ ' + item.getPreco()}"></td>
                                <td style="text-align: center">
                                    <a th:href="@{/restaurante/itemcardapio/edit?id=} + ${item.getId()}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a style="margin-left: 5px" th:href="@{/restaurante/itemcardapio/desativar?id=} + ${item.getId()}">
                                        <i onclick="" class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>

                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

<script th:src="@{/prototipo/plugins/jquery/jquery.min.js}"></script>

<script th:src="@{/prototipo/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/prototipo/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/prototipo/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/prototipo/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/prototipo/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/prototipo/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/prototipo/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/prototipo/plugins/jszip/jszip.min.js}"></script>
<script th:src="@{/prototipo/plugins/pdfmake/pdfmake.min.js}"></script>
<script th:src="@{/prototipo/plugins/pdfmake/vfs_fonts.js}"></script>
<script th:src="@{/prototipo/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
<script th:src="@{/prototipo/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
<script th:src="@{/prototipo/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>
<script th:src="@{/prototipo/dist/js/adminlte.min.js}"></script>
<script th:src="@{/prototipo/dist/js/demo.js}"></script>
<script th:src="@{/prototipo/plugins/}"></script>

<script>
    function atualizar(){
        location.reload();
    }

    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["excel", "pdf", "print"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
</body>
</html>
